@font-face {
  font-family: teko;
  src: url(./fonts/Teko-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: merri;
  src: url(./fonts/Merriweather-Black.ttf);
  font-weight: bolder;
}

@font-face {
  font-family: merri;
  src: url(./fonts/Merriweather-Bold.ttf);
  font-weight: bold;
}


body{font-family:sans-serif;
   margin: 0px;
   display: flex; flex-direction: column;
   background-color: rgb(235,235,235);
   animation: fade 2s linear;
   overflow-x: hidden;

 }

 #aboutMenu{position: absolute; z-index: 10; background-color: rgb(235,235,235); width:100vw;height:1000vh}
 #projectMenu{position: absolute; z-index: 10; background-color: rgb(235,235,235); width:100vw;height:1000vh}

 .flexBasis{display: flex;flex-direction: column;align-items: center;}

 #mainPage{
   height:100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   overflow-x: hidden;
   justify-content: flex-start;
 }

 #mainPage.hovered{
   background-color: rgb(34, 40, 54);
   color: rgb(235,235,235);
   animation: changeMenuToBlue 1s linear
 }

 #mainPage.noMoreHovered{
              background-color: rgba(235, 235, 235,0);
              animation: changeMenuToGray 0.5s linear
          }

          @keyframes changeMenuToBlue {
            from{color:rgb(0,0,0); background-color: rgba(235,235,235,0)}
            to{color:rgb(235,235,235); background-color: rgba(34,40,54,1)}
          }

          @keyframes changeMenuToGray {
            from{color:rgb(235,235,235); background-color: rgba(34,40,54,1)}
            to{color:rgb(0,0,0); background-color: rgba(235,235,235,0)}

          }


.img_banner{
  position: fixed;
  width: auto;
  width: 65vw;
  min-width: 700px;
  transform-origin: top;
  object-position: 50% 20%;
  transform: translate(-35%,7.5%);
  object-fit: cover;
  border-radius: 100%;
  z-index:-10
  }

  #maintitle{position: absolute;
  color: rgb(34, 40, 54);;
  left:50vw;
  top:32.5%;
  text-align: left;
  width:48%; line-height: normal;
  min-width: 600px;
  font-size: 80px;
  font-weight: bolder;
  padding-left:30px;
  padding-top: 30px;
  padding-bottom: 100px;
  z-index: 10;
  font-weight: 600;
  display: flex;
  flex-direction: column;
}




#profile_text{ width:80%; font-size:20px; max-height:20vh; display: none}

#sendEmail{margin-left: 30px; display: none}

button{
  border-radius:500px;
  border-color: rgba(0,0,0,0);
  padding-left:20px;
  padding-right:20px;
  padding-top:10px;
  padding-bottom:10px;
  width:20vw; height:auto;
  background-color: rgb(34,40,54);
  color: rgb(235,235,235);
  margin-left: 3vw; margin-right: 3vw;
  margin-bottom: 0;
  font-size: 15px;
  font-weight: bold;
  border: solid 2px;
  border-color: rgb(235,235,235);
  mix-blend-mode: unset;
}

button.single{margin-left: 0; margin-right: 0;}

button:hover{
background-color: rgb(147,129,235);
color: rgb(235,235,235);
border: solid 2px;
border-color: rgb(235,235,235)
}

  p{position: relative;
    font-weight: normal;
    text-align: left;
    max-width: 50vw;
    left:0%;
    font-size: 1.25em}

    p.special{position: relative;
      width:90%;
      left:5%;
      font-size: 20px}

    p.centered{ text-align: center; max-width: 40vw}

    p.animated1{ white-space: nowrap;
        font-size: 28px;
  overflow: hidden;
  animation: animated-text 10s steps(29,end) 1s infinite normal both}

  .animated{white-space: pre-wrap; 
    background-blend-mode: overlay;
    color: rgb(30,45,54); 
    font-size:1em;
    min-height: 200px;
    width:45%;
    line-height: 1.5em;
    text-align: center;
    font-family: monospace;
    margin-top: 30px;    
   }


  .animated2{white-space:
    pre-wrap; font-size:1em; line-height: 1.5em;
    min-height: 200px;
    min-width: 100%;
    text-align: center;
    font-family: monospace;
    width: fit-content;}


    .animated3{
      padding-top: 30px;
      white-space:
      pre-wrap; font-size:1.5em; line-height: 1.5em;
      min-height: 200px;
      min-width: 100%;
      text-align: center;
      font-family: monospace;
      width: fit-content;}

    @keyframes animated-text{
  from{width: 0;}
  to{width: 320px}
}


  h2{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    color: rgb(30,45,54);
    opacity: 1;
    text-align: center;
    font-size: 30px;
    margin-bottom: 1%;
    margin-top: 1%;
    transform-origin:bottom;
    text-overflow: ellipsis;

  }

  h2:hover{
  color: rgb(34,40,54);
  background-color: rgb(147,129,235,0.7)}

  h4{
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 30px}

h5{
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 20px}

  h4.centered{
    text-align: center;
  }

    h1{
      padding-top: 100px;
      padding-bottom: 50px;
      width: 100%;
      color: rgb(34, 40, 54);
      text-align: center;
      font-size: 60px;
      text-overflow:ellipsis;
      margin: 0px;
      font-weight: bold
    }

    h1.special{

      background-color: rgb(30,45,54);
      background-position: 0% 50%; background-blend-mode: overlay; background-size: cover; color:white
    }

    h3{
      font-size: 1.5em
    }


    .icon{width: 80px;
      height:80px;
      object-fit:scale-down;
      margin-right: 30px;
      margin-top:30px;
      margin-bottom:15px;
      border-radius: 10%
    }


    .iconbig{width: 20vw;
      object-fit: contain;
      height:80px;
      max-width: 50vw;
      margin-top:60px;
      margin-bottom:15px;
      border-radius: 10%
    }

    .exp{
      max-width: 50vw;
    }

    .image_list{position:relative;
      display: flex;
      flex-direction: row;
      left:2.5%;
      flex-wrap: wrap;
    }

    .image_list2{position:relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow-x: scroll;
      max-width: 90vw;
      
      justify-content: flex-start;
      margin-left: 5vw;
      margin-right: 5vw;
      gap:50px
    }


    .columnList{
        font-weight: bold;
        line-height: 150%;
        position: relative;
        column-count: 2;
        column-gap: 25px;
        left:5%;
        width:95%;
        text-overflow:"...";}

        .theorical_skill{
          padding-top:100px;
        position:relative;
        color:rgb(34, 40, 54);
        width:60%;
        left:15%;}

        .theorical_skill_right{
          padding-top:100px;
        position:relative;  color:rgb(40, 40, 40);
        width:50%;
        left:35%;}

          .menuItem{padding-bottom: 100px; margin-top: 1%;}
          .menuItem.flex{display: flex; flex-direction: column;align-items:center;}


        #menu{width:100%;
          position: absolute;
          left:50%; transform: translate(-50%,0%);
          display: flex;
          flex-grow: 0;
          flex-shrink: 0;
          justify-content: space-between;
          position: fixed;
          gap:50px;
          background-color: rgb(235,235,235);
          z-index:15}

        #menu.hovered{
          background-color: rgb(34, 40, 54);
          color: rgb(235,235,235);
          animation: changeToBlue 1s linear
        }

        #menu.noMoreHovered{
            background-color: rgb(235, 235, 235);
            animation: changeToGray 0.5s linear
        }

        #about.active{opacity:1}
        #about.inactive{opacity:0.4}

        #projects.active{opacity:1}
        #projects.inactive{opacity:0.4}


          .evidenceContainer{
              padding-top: 70px;
             margin-bottom: 1%;
              background-color: rgb(235, 235, 235);
          }

          .evidenceContainer.hovered{
            background-color: rgb(34, 40, 54);
            color: rgb(235,235,235);
            animation: changeToBlue 1s linear
          }


          .evidenceContainer.noMoreHovered{
              background-color: rgb(235, 235, 235);
              animation: changeToGray 0.5s linear
          }


          @keyframes changeToBlue {
            from{color:rgb(0,0,0); background-color: rgb(235,235,235)}
            to{color:rgb(235,235,235); background-color: rgb(34,40,54)}
          }

          @keyframes changeToGray {
            from{color:rgb(235,235,235); background-color: rgb(34,40,54)}
            to{color:rgb(0,0,0); background-color: rgb(235,235,235)}

          }

          @keyframes fade {
            from{opacity: 0}
            to{opacity: 1}
          }

          .sectionTitleContainer{display: flex; flex-direction: column; align-items: center;gap:10px;
          padding-bottom: 30px}

          .scrollcontainer{
            display: flex; flex-direction: row; gap:20px; overflow-y: hidden; overflow-x: scroll;
          }

          .aboutBox_element{
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: space-between; }

          .image_container {
            padding-bottom: 50px;
            width: 45vw;

              min-width: 500px;
            height: 80vh;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            flex-grow: 0;
            flex-shrink: 1;
            column-gap:20px;
            row-gap:5px
             /* Ensure equal spacing between images */
          }

          .image_container img {
            min-width: 0%;
            width: 48%; /* Two images per row with some spacing */
            height: 48%; /* Adjust the height to match width proportionally */
            object-fit:cover; /* Ensure the image covers the container */
            }

            #mainList{background-color: rgba(235, 235, 235,0.7)}
            #mainListProject{background-color: rgba(235, 235, 235,0.7)}

            #contactInfo{
              padding-left: 10%; padding-right: 10%;
              text-align: center;
              font-size: 1.5em;
              padding-bottom: 100px;
            }

            #introOnMobile{display: none}

            #spacer_menu{opacity:0;display:flex; min-width:0px}


            .project{margin-left: 2%; margin-right:2%; width:50%; margin-top:50px;display:flex;flex-direction: column; align-items: center; gap:30px}

            .projectCanvas{width:100%}

            .projectGallery{
              grid-gap:20px;
              overflow-x: scroll;
              max-width: 100%;
              display: flex
            }
            .projectGallery img{ max-width: 20vw; border-radius: 30px}

            .projectGallery2{
              grid-gap:20px;
              overflow-x: scroll;
              width: 50vw;
              display: grid;
              grid-template-areas: "a b c d";
              justify-items:center
            }

            .projectGallery2bis{
              grid-gap:20px;
              overflow-x: scroll;
              width: 95vw;
              display: grid;
              grid-template-areas: "a b c d e F";
              justify-items:center
            }

            .projectGallery2 img{ max-width: 18vw; border-radius: 0px}

            .projectGallery2bis img{ max-width: 15vw; border-radius: 0px}


                        .projectGallery3{
                          grid-gap:20px;
                          overflow-x: scroll;
                          width: 50vw;
                          display: flex; flex-direction: row;
                          justify-items:center;align-items: flex-end;

                        }
                        .projectGallery3 img{ max-width: 50vw; border-radius: 10px}

                        .projectGallery4{
                          grid-gap:20px;
                          overflow-x: scroll;
                          width: 50vw;
                          display: flex; flex-direction: row;
                          justify-items:center;

                        }
                        .projectGallery4 img{ max-width: 24vw; border-radius: 10px}

                        .IGContainer{display: grid;
                          grid-gap:10px;
                        grid-template-areas: "a b c" "d e f" "g h i"}

                        .IGContainer img{max-width:15vw}


            #lichenVideo{width:95vh; height:85vh; border-radius: 30px}

            .video_container1{display: flex; padding-left: 0vw;padding-right: 0vw;
              width:100vw; grid-gap: 0px; justify-content: space-between}

              .video_container1.bis{display: flex; flex-direction: column; padding-left: 0vw;padding-right: 0vw;
                width:100vw; grid-gap: 50px; justify-content: space-between;    align-items: center;}



            .video_container1 video{width:60vw; max-width: 70vw; height: 65vh; object-fit:contain; border-radius: 10px;}

                        .video_container1.bis video{width:33vw; max-width: 50vw; height: 45vh; object-fit:cover;}

                        #videoAS1{
                          width:100%
                        }

                        #videoAS2{width:100%}
                        #videoAS4{width:100%}

            #whaleVideo{
              object-fit:cover;
            }
            #catVideo{
              width:20vw;
            }

            #wordVideo{
              width:20vw;
            }

            #colapesce{width:80vw; height: 100vh}

            #audioScape{
              width:80vw; height:70vh;pointer-events: unset
            }

            @media (max-width: 900px) {
                        #maintitle {
                            left: 500px; /* Adjusted position */
                        }
                    }
