#header {
  text-align: center;
}

#footer {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 50px;
}

#content {
  text-align: center;
  vertical-align: middle;
  line-height: 100vh;
}

#left {
  position: absolute;
  left: 0px;
}

#right {
  position: absolute;
  right: 10px;
}

.button {
  background-color: black;
  padding: 10px;
  border-radius: 10%;
  color: white;
  cursor: pointer;
}